name: ci

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  check:
    name: check
    runs-on: ubuntu-latest
    steps:
      - name: install bun
        uses: oven-sh/setup-bun@v2
        with:
            bun-version: 1.3.3

      - name: checkout code
        uses: actions/checkout@v5

      - name: install package dependencies
        run: bun ci

      - name: check
        run: bun biome
